/* 由 F12 开发人员工具生成。这可能不是原始源文件的准确表示形式。*/
.left {
	FLOAT: left;
	WIDTH: 210px;
	MARGIN-RIGHT: 10px
}

.middle {
	FLOAT: left;
	WIDTH: 550px
}

.right {
	FLOAT: right;
	WIDTH: 210px
}

.breadcrumb SPAN {
	PADDING-LEFT: 10px
}

.breadcrumb SPAN A {
	OVERFLOW: hidden;
	MAX-WIDTH: 75px;
	HEIGHT: 25px;
	VERTICAL-ALIGN: middle;
	DISPLAY: inline-block;
	LINE-HEIGHT: 25px
}

.pi {
	RIGHT: 10px;
	TEXT-ALIGN: center
}

.p-price STRONG {
	FONT-SIZE: 12px;
	FONT-FAMILY: verdana;
	COLOR: #e4393c
}

#sortlist {
	BORDER-TOP: #eaa06a 0px solid;
	HEIGHT: 490px;
	BORDER-RIGHT: #eaa06a 0px solid;
	BORDER-BOTTOM: #eaa06a 0px solid;
	BORDER-LEFT: #eaa06a 0px solid;
	WIDTH: 250px
}

#sortlist .mc {
	HEIGHT: 496px;
	WIDTH: 250px
}

* HTML #sortlist .mc {
	OVERFLOW: hidden
}

#sortlist .item {
	BACKGROUND: #fff;
	POSITION: relative;
	ZOOM: 1;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 5px;
	PADDING-LEFT: 0px;
	Z-INDEX: 2;
	PADDING-RIGHT: 0px
}

#sortlist UL {
	BORDER-TOP: #52668d 2px solid;
	BORDER-RIGHT: #52668d 2px solid;
	BACKGROUND: #fff;
	BORDER-BOTTOM: #52668d 2px solid;
	POSITION: absolute;
	ZOOM: 1;
	LEFT: 206px;
	BORDER-LEFT: #52668d 2px solid;
	Z-INDEX: 2;
	DISPLAY: none;
	TOP: 0px;
	WIDTH: 392px
}

#sortlist .item:after {
	CONTENT: ' ';
	CLEAR: both;
	DISPLAY: block
}

#sortlist .con:after {
	CONTENT: ' ';
	CLEAR: both;
	DISPLAY: block
}

#sortlist UL:after {
	CONTENT: ' ';
	CLEAR: both;
	DISPLAY: block
}

#sortlist H3 {
	OVERFLOW: visible;
	FONT-SIZE: 12px;
	HEIGHT: 25px;
	BACKGROUND: #fff;
	POSITION: relative;
	FONT-WEIGHT: bold;
	COLOR: #FFFFFF;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	PADDING-LEFT: 70px;
	CLEAR: both;
	Z-INDEX: 6;
	LINE-HEIGHT: 25px;
	PADDING-RIGHT: 0px
}

#sortlist H3 A {
	COLOR: #333
}

#sortlist H3 S {
	FONT-SIZE: 0px;
	HEIGHT: 60px;

	POSITION: absolute;
	LEFT: 5px;
	Z-INDEX: 1;
	TOP: 5px;
	WIDTH: 60px
}

#sortlist H3 .i1 {
	
}

#sortlist H3 .i2 {
	BACKGROUND-POSITION: 0px -52px
}

#sortlist H3 .i3 {
	BACKGROUND-POSITION: 0px -104px
}

#sortlist H3 .i4 {
	BACKGROUND-POSITION: 0px -156px
}

#sortlist H3 .i5 {
	BACKGROUND-POSITION: 0px -208px
}

#sortlist .con {
	OVERFLOW: hidden;
	BACKGROUND: #fff;
	BORDER-BOTTOM: #ccc 1px dotted;
	POSITION: relative;
	ZOOM: 1;
	PADDING-BOTTOM: 2px;
	PADDING-TOP: 0px;
	PADDING-LEFT: 60px;
	MARGIN: 0px 6px;
	LINE-HEIGHT: 18px;
	PADDING-RIGHT: 0px
}

#sortlist .fore5 .con {
	BORDER-BOTTOM-WIDTH: 0px
}

#sortlist .con A {
	OVERFLOW: hidden;
	HEIGHT: 18px;
	BORDER-BOTTOM: #fff 1px solid;
	FLOAT: left;
	COLOR: #666;
	PADDING-LEFT: 0px;
	LINE-HEIGHT: 18px;
	WIDTH: 190px;
	MARGIN-RIGHT: 8px
}

#sortlist LI A {
	OVERFLOW: hidden;
	HEIGHT: 18px;
	BORDER-BOTTOM: #fff 1px solid;
	FLOAT: left;
	COLOR: #666;
	PADDING-LEFT: 0px;
	LINE-HEIGHT: 18px;
	WIDTH: 56px;
	MARGIN-RIGHT: 8px
}

#sortlist .con A:hover {
	COLOR: #c00
}

#sortlist LI A:hover {
	COLOR: #c00
}

#slide {
	OVERFLOW: hidden;
	HEIGHT: 370px;
	POSITION: relative;
	WIDTH: 550px
}

#slide UL {
	OVERFLOW: hidden;
	POSITION: absolute;
	TOP: 0px;
	WIDTH: 550px
}

#slide LI {
	OVERFLOW: hidden;
	HEIGHT: 370px;
	WIDTH: 550px
}

#slide .slide-controls {
	HEIGHT: 22px;
	POSITION: absolute;
	PADDING-BOTTOM: 10px;
	TEXT-ALIGN: right;
	PADDING-TOP: 0px;
	PADDING-LEFT: 8px;
	LEFT: 0px;
	PADDING-RIGHT: 8px;
	WIDTH: 534px;
	BOTTOM: 0px
}

#slide .slide-controls SPAN {
	CURSOR: default;
	HEIGHT: 22px;
	BACKGROUND: #999;
	COLOR: #fff;
	TEXT-ALIGN: center;
	MARGIN: 0px 2px;
	DISPLAY: inline-block;
	LINE-HEIGHT: 22px;
	WIDTH: 22px;
	border-radius: 12px
}

#slide .slide-controls .curr {
	BACKGROUND: #eaa06a
}

#slide-ad {
	WIDTH: 550px
}

#slide-ad A {
	OVERFLOW: hidden;
	FLOAT: left;
	DISPLAY: block;
	WIDTH: 182px;
	MARGIN-RIGHT: 2px
}

#slide-ad A.fore2 {
	MARGIN-RIGHT: 0px
}

#group {
	HEIGHT: 170px;
	FLOAT: right;
	WIDTH: 210px
}

#group .mt {
	HEIGHT: 20px;
	POSITION: relative
}

#group .mt H2 {
	FONT-SIZE: 16px;
	HEIGHT: 20px;
	FONT-FAMILY: 微软雅黑;
	FLOAT: left;
	FONT-WEIGHT: normal;
	COLOR: #333;
	LINE-HEIGHT: 20px;
	MARGIN-RIGHT: 10px
}

#group .mt .extra {
	HEIGHT: 18px;
	FONT-FAMILY: 宋体;
	FLOAT: right;
	TEXT-ALIGN: right
}

#group .mc {
	OVERFLOW: hidden;
	BORDER-TOP: #eaa06a 2px solid;
	HEIGHT: 147px;
	BORDER-RIGHT: #dedede 1px solid;
	BORDER-BOTTOM: #dedede 1px solid;
	POSITION: relative;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT: #dedede 1px solid;
	PADDING-RIGHT: 0px;
	WIDTH: 208px
}

#group .mc UL {
	OVERFLOW: hidden;
	HEIGHT: 147px;
	POSITION: absolute;
	LEFT: 0px;
	TOP: 0px
}

#group LI {
	HEIGHT: 142px;
	POSITION: relative;
	FLOAT: left;
	PADDING-BOTTOM: 0px;
	TEXT-ALIGN: center;
	PADDING-TOP: 5px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	WIDTH: 208px
}

#group .p-img {
	FLOAT: none;
	TEXT-ALIGN: center;
	PADDING-TOP: 0px;
	MARGIN: 0px auto;
	WIDTH: 128px
}

#group .p-name {
	HEIGHT: 1.5em;
	TEXT-ALIGN: center;
	MARGIN: 0px auto;
	LINE-HEIGHT: 1.5em;
	WIDTH: 168px
}

#group .p-market {
	COLOR: #999;
	DISPLAY: none
}

#group .p-price {
	TEXT-ALIGN: center;
	MARGIN: 0px auto;
	WIDTH: 128px
}

#group .p-price STRONG {
	FONT-SIZE: 13px;
	FONT-FAMILY: verdana;
	FONT-WEIGHT: normal
}

#group .btn-tuan {
	DISPLAY: none
}

#group .btns {
	CURSOR: pointer;
	HEIGHT: 52px;
	BACKGROUND: url(i/20130510L-1.png) no-repeat;
	POSITION: absolute;
	TOP: 50px;
	WIDTH: 25px
}

#group #prev {
	BACKGROUND-POSITION: -54px 0px;
	LEFT: 0px
}

#group .disabled#prev {
	CURSOR: default;
	BACKGROUND-POSITION: 0px 0px
}

#group #next {
	RIGHT: 0px;
	BACKGROUND-POSITION: -81px 0px
}

#group .disabled#next {
	CURSOR: default;
	BACKGROUND-POSITION: -27px 0px
}

#group-ad {
	OVERFLOW: hidden;
	WIDTH: 210px
}

#group-ad A {
	MARGIN-BOTTOM: 10px;
	DISPLAY: block
}

#hot-product {
	OVERFLOW: hidden;
	HEIGHT: 440px;
	FLOAT: left;
	WIDTH: 770px
}

#hot-product .mt {
	HEIGHT: 32px
}

#hot-product H2 {
	FONT-SIZE: 16px;
	HEIGHT: 32px;
	FONT-WEIGHT: normal;
	LINE-HEIGHT: 32px
}

#hot-product .mc {
	OVERFLOW: hidden;
	BORDER-TOP: #f4ceb3 4px solid;
	HEIGHT: 400px;
	BORDER-RIGHT: #f4ceb3 4px solid;
	BORDER-BOTTOM: #f4ceb3 4px solid;
	POSITION: relative;
	BORDER-LEFT: #f4ceb3 4px;
	WIDTH: 766px
}

#hot-product .tab {
	HEIGHT: 400px;
	BACKGROUND: url(i/20130513K.jpg) #f4ceb3 repeat-y;
	POSITION: absolute;
	FLOAT: left;
	PADDING-TOP: 10px;
	LEFT: 0px;
	TOP: -4px;
	WIDTH: 80px
}

#hot-product .tab LI {
	CURSOR: default;
	HEIGHT: 66px;
	BACKGROUND: url(i/20130513L.jpg) 0px -66px;
	MARGIN: 0px 0px 0px 8px;
	LINE-HEIGHT: 66px;
	WIDTH: 66px;
	_display: inline
}

#hot-product .tab LI.curr {
	BACKGROUND-POSITION: 0px 0px;
	FONT-WEIGHT: bold;
	COLOR: #c00
}

#hot-product .tabcon {
	OVERFLOW: hidden;
	HEIGHT: 402px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 3px;
	PADDING-LEFT: 3px;
	MARGIN-LEFT: 80px;
	PADDING-RIGHT: 0px;
	WIDTH: 683px
}

#hot-product .tabcon UL {
	POSITION: relative;
	TOP: 1px;
	WIDTH: 820px
}

#hot-product .tabcon LI {
	OVERFLOW: hidden;
	HEIGHT: 186px;
	BORDER-RIGHT: #ccc 1px dotted;
	BORDER-BOTTOM: #ccc 1px dotted;
	FLOAT: left;
	PADDING-BOTTOM: 13px;
	TEXT-ALIGN: center;
	PADDING-TOP: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	WIDTH: 229px
}

#hot-product .tabcon LI .p-img {
	PADDING-TOP: 10px
}

#hot-product .tabcon LI .p-name {
	OVERFLOW: hidden;
	HEIGHT: 1.6em;
	TEXT-ALIGN: center;
	MARGIN: 0px auto;
	LINE-HEIGHT: 1.6em;
	WIDTH: 180px
}

#hot-product .tabcon LI .p-price {
	HEIGHT: 22px
}

* HTML #hot-product .mc {
	HEIGHT: 399px
}

* HTML #hot-product .tabcon {
	HEIGHT: 399px
}

#hot-product-ads {
	OVERFLOW: hidden;
	HEIGHT: 410px;
	PADDING-TOP: 30px;
	WIDTH: 210px
}

#hot-product-ads A {
	MARGIN-BOTTOM: 10px;
	DISPLAY: block
}

.brandlist {
	WIDTH: 990px
}

.brandlist .mt {
	HEIGHT: 32px;
	POSITION: relative
}

.brandlist .tab {
	HEIGHT: 22px;
	RIGHT: 0px;
	POSITION: absolute;
	WIDTH: 83px;
	BOTTOM: 0px
}

.brandlist .tab LI {
	HEIGHT: 22px;
	BACKGROUND:
		url(http://misc.360buyimg.com/product/skin/2011/i/20120924D.png)
		no-repeat -26px 0px;
	FLOAT: left;
	COLOR: #fff;
	TEXT-ALIGN: center;
	MARGIN-LEFT: 1px;
	FILTER: Alpha(Opacity = 100);
	LINE-HEIGHT: 22px;
	WIDTH: 26px;
	border-radius: 3px 3px 0 0;
	opacity: 1
}

.brandlist .tab LI.curr {
	BACKGROUND:
		url(http://misc.360buyimg.com/product/skin/2011/i/20120924D.png)
		no-repeat 0px 0px;
	COLOR: #333
}

.brandlist H2 {
	FONT-SIZE: 16px;
	HEIGHT: 32px;
	FONT-WEIGHT: normal;
	LINE-HEIGHT: 32px;
	WIDTH: 150px
}

.brandlist .mc {
	BORDER-TOP: #eaa06a 2px solid;
	HEIGHT: 230px;
	BORDER-RIGHT: #dedede 1px solid;
	BORDER-BOTTOM: #dedede 1px solid;
	PADDING-BOTTOM: 10px;
	PADDING-TOP: 10px;
	PADDING-LEFT: 10px;
	BORDER-LEFT: #dedede 1px solid;
	PADDING-RIGHT: 10px
}

.brandlist .mc UL {
	OVERFLOW: hidden;
	HEIGHT: 230px;
	POSITION: relative
}

.brandlist .mc LI {
	OVERFLOW: hidden;
	POSITION: absolute;
	FLOAT: left;
	WIDTH: 240px
}

.brandlist .mc .fore0 {
	HEIGHT: 230px;
	WIDTH: 230px
}

.brandlist .mc .fore3 {
	HEIGHT: 230px;
	WIDTH: 230px
}

.brandlist .mc .fore6 {
	HEIGHT: 230px;
	WIDTH: 230px
}

.brandlist .mc .fore1 {
	HEIGHT: 110px
}

.brandlist .mc .fore2 {
	HEIGHT: 110px
}

.brandlist .mc .fore4 {
	HEIGHT: 110px
}

.brandlist .mc .fore5 {
	HEIGHT: 110px
}

.brandlist .mc .fore0 {
	LEFT: 0px;
	TOP: 0px
}

.brandlist .mc .fore1 {
	LEFT: 240px;
	TOP: 0px
}

.brandlist .mc .fore2 {
	LEFT: 240px;
	TOP: 120px
}

.brandlist .mc .fore3 {
	LEFT: 490px;
	TOP: 0px
}

.brandlist .mc .fore4 {
	LEFT: 730px;
	TOP: 0px
}

.brandlist .mc .fore5 {
	LEFT: 730px;
	TOP: 120px
}

.brandlist .mc .fore6 {
	DISPLAY: none
}

.brandlist A {
	DISPLAY: block
}

.scroll {
	OVERFLOW: hidden;
	BORDER-TOP: #dedede 0px solid;
	HEIGHT: 42px;
	BORDER-RIGHT: #dedede 1px solid;
	BORDER-BOTTOM: #dedede 1px solid;
	POSITION: relative;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 10px;
	PADDING-LEFT: 28px;
	BORDER-LEFT: #dedede 1px solid;
	PADDING-RIGHT: 28px;
	WIDTH: 932px
}

.scroll .con {
	HEIGHT: 32px
}

.scroll .con UL {
	HEIGHT: 32px
}

.scroll .con LI {
	HEIGHT: 32px;
	FLOAT: left;
	TEXT-ALIGN: center;
	WIDTH: 134px
}

.scroll .con A {
	HEIGHT: 32px;
	BORDER-RIGHT: #ccc 1px dotted;
	MARGIN-TOP: 3px;
	DISPLAY: block;
	LINE-HEIGHT: 32px
}

.scroll .con .fore1 A {
	BORDER-LEFT-WIDTH: 0px
}

.scroll .btns {
	CURSOR: pointer;
	HEIGHT: 32px;
	BACKGROUND: url(i/20130510L-1.png) #fff no-repeat;
	POSITION: absolute;
	Z-INDEX: 1;
	TOP: 13px;
	WIDTH: 14px
}

.scroll #prev1 {
	BACKGROUND-POSITION: -28px -57px;
	LEFT: 10px
}

.scroll .disabled#prev1 {
	CURSOR: default;
	BACKGROUND-POSITION: 0px -57px
}

.scroll #next1 {
	RIGHT: 10px;
	BACKGROUND-POSITION: -42px -57px
}

.scroll .disabled#next1 {
	CURSOR: default;
	BACKGROUND-POSITION: -14px -57px
}

#floortop-slidead {
	OVERFLOW: hidden;
	HEIGHT: 70px;
	POSITION: relative;
	WIDTH: 990px
}

#floortop-slidead UL {
	HEIGHT: 70px;
	POSITION: absolute;
	TOP: 0px;
	WIDTH: 990px
}

#floortop-slidead LI {
	OVERFLOW: hidden;
	HEIGHT: 70px;
	FLOAT: left;
	WIDTH: 990px
}

#floortop-slidead .slide-controls {
	HEIGHT: 25px;
	RIGHT: 5px;
	POSITION: absolute;
	TEXT-ALIGN: right;
	LINE-HEIGHT: 25px;
	WIDTH: 985px;
	BOTTOM: 5px
}

#floortop-slidead .slide-controls SPAN {
	CURSOR: default;
	HEIGHT: 22px;
	BACKGROUND: #999;
	COLOR: #fff;
	TEXT-ALIGN: center;
	MARGIN: 0px 2px;
	DISPLAY: inline-block;
	LINE-HEIGHT: 22px;
	WIDTH: 22px;
	border-radius: 12px
}

#floortop-slidead .slide-controls SPAN.curr {
	BACKGROUND: #eaa06a
}

.floor {
	MARGIN-BOTTOM: 10px;
	HEIGHT: 467px;
	POSITION: relative
}

.floor .omt {
	HEIGHT: 38px;
	BACKGROUND: #eaa06a;
	POSITION: absolute;
	LEFT: 0px;
	TOP: 2px;
	WIDTH: 221px
}

.floor .omt H2 {
	FONT-SIZE: 16px;
	HEIGHT: 32px;
	FONT-FAMILY: 微软雅黑;
	FLOAT: left;
	FONT-WEIGHT: normal;
	COLOR: #fff;
	PADDING-LEFT: 10px;
	LINE-HEIGHT: 38px
}

.floor .omc {
	OVERFLOW: hidden;
	BORDER-TOP: #eaa06a 2px solid;
	HEIGHT: 464px;
	BORDER-RIGHT: #dedede 1px solid;
	BORDER-BOTTOM: #dedede 1px solid;
	BORDER-LEFT: #dedede 1px solid;
	WIDTH: 988px
}

.floor .omc .l-col {
	HEIGHT: 464px;
	FLOAT: left;
	WIDTH: 220px
}

.floor .lore {
	HEIGHT: 96px;
	BACKGROUND: url(i/20130510K.jpg) #efefef no-repeat;
	MARGIN: 0px 0px 10px 10px;
	WIDTH: 210px
}

.floor .lore UL {
	HEIGHT: 86px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 10px;
	PADDING-LEFT: 50px;
	PADDING-RIGHT: 0px;
	WIDTH: 160px
}

.floor .lore LI {
	OVERFLOW: hidden;
	HEIGHT: 20px;
	FONT-FAMILY: 宋体;
	LINE-HEIGHT: 20px;
	WIDTH: 150px
}

.floor .lore LI A {
	FONT-FAMILY: verdana
}

.floor .p-price {
	HEIGHT: 22px
}

.activity-ads {
	HEIGHT: 310px;
	POSITION: relative;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 48px;
	PADDING-LEFT: 10px;
	PADDING-RIGHT: 0px;
	WIDTH: 210px
}

.activity-ads .slide-items {
	OVERFLOW: hidden;
	HEIGHT: 310px;
	WIDTH: 210px
}

.activity-ads .slide-items LI {
	OVERFLOW: hidden;
	HEIGHT: 310px;
	FLOAT: left;
	WIDTH: 220px
}

.activity-ads .gc-sco-control {
	HEIGHT: 22px;
	RIGHT: 10px;
	POSITION: absolute;
	TEXT-ALIGN: right;
	BOTTOM: 0px;
	_bottom: -1px
}

.activity-ads .gc-sco-control SPAN {
	HEIGHT: 22px;
	BACKGROUND:
		url(http://misc.360buyimg.com/product/skin/2011/i/20120924D.png)
		no-repeat -26px 0px;
	TEXT-ALIGN: center;
	FILTER: Alpha(Opacity = 100);
	MARGIN: 0px;
	LINE-HEIGHT: 22px;
	WIDTH: 26px;
	border-radius: 3px 3px 0 0;
	opacity: 1
}

.activity-ads .gc-sco-control SPAN.curr {
	BACKGROUND:
		url(http://misc.360buyimg.com/product/skin/2011/i/20120924D.png)
		no-repeat 0px 0px;
	COLOR: #333
}

.m-col {
	MARGIN-BOTTOM: 0px;
	POSITION: relative;
	FLOAT: left;
	PADDING-TOP: 38px;
	WIDTH: 559px
}

.m-col .mt {
	HEIGHT: 37px;
	BORDER-RIGHT: #dedede 1px solid;
	BACKGROUND: #f7f7f7;
	BORDER-BOTTOM: #dedede 1px solid;
	POSITION: absolute;
	TEXT-ALIGN: center;
	LINE-HEIGHT: 37px;
	TOP: 0px;
	WIDTH: 111px
}

.m-col .curr .mt {
	HEIGHT: 38px;
	BACKGROUND: #fff;
	BORDER-BOTTOM-STYLE: none
}

.m-col .mt H3 {
	COLOR: #333;
	FONT: 16px/38px 微软雅黑
}

.m-col .curr .mt H3 {
	COLOR: #eaa06a
}

.m-col .mc {
	HEIGHT: 427px;
	DISPLAY: none
}

.m-col .curr .mc {
	DISPLAY: block
}

.m-col .mc UL {
	OVERFLOW: hidden;
	HEIGHT: 427px
}

.m-col .mc LI {
	MARGIN-BOTTOM: 10px;
	POSITION: relative;
	FLOAT: left;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	PADDING-LEFT: 11px;
	PADDING-RIGHT: 11px;
	WIDTH: 162px
}

.m-col .mc .p-img {
	PADDING-BOTTOM: 5px;
	PADDING-TOP: 12px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px
}

.m-col .mc .p-name {
	HEIGHT: 3em;
	FONT-FAMILY: verdana
}

.m-col .mc STRONG {
	OVERFLOW: hidden;
	FONT-SIZE: 12px;
	HEIGHT: 20px;
	FONT-FAMILY: verdana;
	VERTICAL-ALIGN: middle;
	DISPLAY: inline-block;
	LINE-HEIGHT: 20px;
	MARGIN-RIGHT: 5px
}

.m-col .mc DEL {
	OVERFLOW: hidden;
	HEIGHT: 20px;
	FONT-FAMILY: verdana;
	VERTICAL-ALIGN: middle;
	DISPLAY: inline-block;
	LINE-HEIGHT: 20px
}

.m-col .fore1 .mt {
	LEFT: 0px
}

.m-col .fore2 .mt {
	LEFT: 112px
}

.m-col .fore3 .mt {
	LEFT: 224px
}

.m-col .fore4 .mt {
	LEFT: 338px
}

.m-col .fore5 .mt {
	BORDER-RIGHT-STYLE: none;
	LEFT: 448px
}

.r-col {
	FLOAT: right
}

.top1 {
	OVERFLOW: hidden;
	MARGIN-BOTTOM: 0px;
	HEIGHT: 464px;
	POSITION: relative;
	BORDER-LEFT: #dedede 1px solid;
	WIDTH: 208px
}

.top1 A {
	HEIGHT: 154px;
	BORDER-BOTTOM: #dedede 1px dashed;
	DISPLAY: block
}

.top1 A IMG {
	FLOAT: left
}

.crowd-box {
	OVERFLOW: hidden;
	HEIGHT: 275px;
	POSITION: relative;
	WIDTH: 990px
}

.crowd {
	FLOAT: left;
	WIDTH: 234px;
	MARGIN-RIGHT: 18px
}

.crowd .mt {
	HEIGHT: 32px
}

.crowd H2 {
	FONT-SIZE: 16px;
	FONT-WEIGHT: normal;
	LINE-HEIGHT: 32px
}

.crowd .mc {
	BORDER-TOP: #eaa06a 2px solid;
	HEIGHT: 220px;
	BORDER-RIGHT: #dedede 1px solid;
	BORDER-BOTTOM: #dedede 1px solid;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 10px;
	PADDING-LEFT: 10px;
	BORDER-LEFT: #dedede 1px solid;
	PADDING-RIGHT: 0px;
	WIDTH: 222px
}

.crowd LI {
	OVERFLOW: hidden;
	HEIGHT: 100px;
	POSITION: relative;
	FLOAT: left;
	MARGIN: 0px 10px 10px 0px;
	Z-INDEX: 1;
	WIDTH: 100px
}

.crowd LI .p-img {
	HEIGHT: 100px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	WIDTH: 100px
}

.crowd LI .p-img IMG {
	HEIGHT: 100px;
	WIDTH: 100px
}

.crowd LI SPAN {
	OVERFLOW: hidden;
	HEIGHT: 30px;
	BACKGROUND: #333;
	POSITION: absolute;
	COLOR: #fff;
	TEXT-ALIGN: center;
	LEFT: 0px;
	FILTER: progid : DXImageTransform.Microsoft.Alpha ( opacity = 70 );
	Z-INDEX: 1;
	LINE-HEIGHT: 30px;
	WIDTH: 100px;
	BOTTOM: 0px;
	opacity: 0.7
}

.crowd LI .p-name {
	HEIGHT: 90px;
	BACKGROUND: #0253ac;
	POSITION: absolute;
	COLOR: #fff;
	PADDING-BOTTOM: 5px;
	PADDING-TOP: 5px;
	PADDING-LEFT: 5px;
	LEFT: 0px;
	Z-INDEX: 2;
	PADDING-RIGHT: 5px;
	WIDTH: 90px;
	BOTTOM: -100px
}

.crowd LI.hover .p-name {
	DISPLAY: block
}

.crowd LI .p-name A {
	HEIGHT: 100%;
	COLOR: #fff;
	DISPLAY: block;
	WIDTH: 100%
}

.crowd LI .p-name A:hover {
	COLOR: #fff;
	TEXT-DECORATION: none
}

.crowd4 {
	MARGIN: 0px
}

#product-track {
	FLOAT: left
}

.root61 .right {
	WIDTH: 310px
}

.root61 .middle {
	WIDTH: 670px
}

.root61 #slide {
	WIDTH: 670px
}

.root61 #slide-ad {
	WIDTH: 670px
}

.root61 #slide UL {
	WIDTH: 670px
}

.root61 #slide LI {
	WIDTH: 670px
}

.root61 #slide .slide-controls {
	WIDTH: 654px
}

.root61 #slide-ad A {
	WIDTH: 222px
}

.root61 #group {
	WIDTH: 310px
}

.root61 #group-ad {
	WIDTH: 310px
}

.root61 #group .mc {
	WIDTH: 308px
}

.root61 #group LI {
	HEIGHT: 132px;
	TEXT-ALIGN: left;
	PADDING-TOP: 15px;
	WIDTH: 308px
}

.root61 #group .p-img {
	HEIGHT: 100px;
	FLOAT: left;
	MARGIN: 0px 8px 0px 40px;
	WIDTH: 100px;
	_display: inline
}

.root61 #group .p-name {
	HEIGHT: 3em;
	TEXT-ALIGN: left;
	MARGIN: 0px;
	LINE-HEIGHT: 1.5em;
	WIDTH: 120px
}

.root61 #group .p-market {
	TEXT-ALIGN: left;
	MARGIN: 0px;
	DISPLAY: block;
	LINE-HEIGHT: 1.8em;
	WIDTH: 120px
}

.root61 #group .p-price {
	TEXT-ALIGN: left;
	MARGIN: 0px;
	DISPLAY: block;
	LINE-HEIGHT: 1.8em;
	WIDTH: 120px
}

.root61 #group .btn-tuan {
	OVERFLOW: hidden;
	HEIGHT: 35px;
	BACKGROUND: url(i/20130510L-1.png) no-repeat 0px -106px;
	RIGHT: 0px;
	POSITION: absolute;
	DISPLAY: block;
	LINE-HEIGHT: 100px;
	WIDTH: 171px;
	BOTTOM: 3px
}

.root61 #floortop-slidead {
	WIDTH: 1210px
}

.root61 #floortop-slidead UL {
	WIDTH: 1210px
}

.root61 #floortop-slidead LI {
	WIDTH: 1210px
}

.root61 #floortop-slidead .slide-controls {
	WIDTH: 1205px
}

.root61 .top1 {
	WIDTH: 248px
}

.root61 .m-col .mt {
	WIDTH: 147px
}

.root61 .m-col .fore1 .mt {
	LEFT: 0px
}

.root61 .m-col .fore2 .mt {
	LEFT: 148px
}

.root61 .m-col .fore3 .mt {
	LEFT: 296px
}

.root61 .m-col .fore4 .mt {
	LEFT: 444px
}

.root61 .m-col .fore5 .mt {
	LEFT: 592px
}

.root61 .floor .omc {
	WIDTH: 1208px
}

.root61 .m-col {
	WIDTH: 739px
}

.root61 #hot-product {
	WIDTH: 890px
}

.root61 #hot-product .mc {
	WIDTH: 886px
}

.root61 #hot-product-ads {
	WIDTH: 310px
}

.root61 #hot-product .tabcon {
	WIDTH: 803px
}

.root61 #hot-product .tabcon LI {
	WIDTH: 200px
}

.root61 .brandlist {
	WIDTH: 1210px
}

.root61 .brandlist .mc LI {
	WIDTH: 230px
}

.root61 .brandlist .mc .fore0 {
	LEFT: 0px;
	TOP: 0px
}

.root61 .brandlist .mc .fore1 {
	LEFT: 240px;
	TOP: 0px
}

.root61 .brandlist .mc .fore2 {
	LEFT: 240px;
	TOP: 120px
}

.root61 .brandlist .mc .fore3 {
	LEFT: 480px;
	TOP: 0px
}

.root61 .brandlist .mc .fore4 {
	LEFT: 720px;
	TOP: 0px
}

.root61 .brandlist .mc .fore5 {
	LEFT: 720px;
	TOP: 120px
}

.root61 .brandlist .mc .fore6 {
	LEFT: 960px;
	DISPLAY: block;
	TOP: 0px
}

.root61 .scroll {
	WIDTH: 1152px
}

.root61 .scroll .con LI {
	WIDTH: 128px
}

.root61 .scroll .con LI.fore9 A {
	BORDER-LEFT-WIDTH: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	BORDER-BOTTOM-WIDTH: 0px;
	BORDER-TOP-WIDTH: 0px
}

.root61 .crowd-box {
	WIDTH: 1210px
}

.root61 .crowd {
	MARGIN-RIGHT: 10px
}

.root61 .crowd4 {
	MARGIN-RIGHT: 10px
}

.root61 .crowd5 {
	MARGIN: 0px
}